/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* lungaschool.is */

/* Fonts */

@font-face {
    font-family: "Dutch801BT";
    src: url("../fonts/Font\ -\ TrueType\ -\ Dutch\ 801\ Roman\ Headline\ BT.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dutch801BT";
    src: url("../fonts/Dutch801BT-ItalicHeadline.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NeueHaasUnicaPro";
    src: url("../fonts/NeueHaasUnicaPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasUnicaPro";
    src: url("../fonts/NeueHaasUnicaPro-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NeueHaasUnicaPro";
    src: url("../fonts/NeueHaasUnicaPro-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasUnicaPro";
    src: url("../fonts/NeueHaasUnicaPro-MediumIt.ttf");
    font-weight: 500;
    font-style: italic;
}

.dutch801bt {
    font-family: "Dutch801BT";
}

.neuehaasunicapro {
    font-family: "NeueHaasUnicaPro";
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

.center {
    text-align: center;
}

/* Global & variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

a:link,
a:visited,
a:hover,
a:active { 
    text-decoration: none; 
}

a:hover,
a:active {
    color: var(--yellow);
    -webkit-text-stroke: var(--text-stroke) var(--black);
}

:root {
    --logo-font-size: 90px;
    --logo-line-height: 90px;
    --logo-font-family: "Dutch801BT";
    --headline-font-size: 100px;
    --headline-line-height: 85px;
    --headline-letter-spacing: -3px;
    --headline-font-family: "NeueHaasUnicaPro";
    --popup-font-size: 50px;
    --popup-line-height: 50px;
    --popup-font-family: "NeueHaasUnicaPro";
    --subheader-font-size: 50px;
    --subheader-line-height: 50px;
    --subheader-font-family: "Dutch801BT";
    --main-body-font-size: 40px;
    --main-body-line-height: 44px;
    --main-body-font-family: "Dutch801BT";
    --main-body-link-font-family: "NeueHaasUnicaPro";
    --secondary-font-size: 30px;
    --secondary-line-height: 34px;
    --secondary-font-family: "Dutch801BT";
    --secondary-link-font-family: "NeueHaasUnicaPro";
    --yellow: #EEFF5D;
    --black: #000000;
    --grey: #E6E6E6;
    --white: #FFFFFF;
    --text-stroke: .5px;
}

@media only screen and (max-width: 1200px) {
    :root {
        --logo-font-size: 80px;
        --logo-line-height: 80px;
        --headline-font-size: 80px;
        --headline-line-height: 80px;
        --headline-letter-spacing: -3px;
        --popup-font-size: 50px;
        --popup-line-height: 50px;
        --subheader-font-size: 50px;
        --subheader-line-height: 50px;
        --main-body-font-size: 30px;
        --main-body-line-height: 34px;
        --secondary-font-size: 24px;
        --secondary-line-height: 28px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --logo-font-size: 50px;
        --logo-line-height: 50px;
        --headline-font-size: 60px;
        --headline-line-height: 55px;
        --headline-letter-spacing: -3px;
        --popup-font-size: 30px;
        --popup-line-height: 33px;
        --subheader-font-size: 30px;
        --subheader-line-height: 33px;
        --main-body-font-size: 20px;
        --main-body-line-height: 25px;
        --secondary-font-size: 20px;
        --secondary-line-height: 25px;
    }
}

/* Typography */

.logo-text {
    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size);
    line-height: var(--logo-line-height);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.headline-text {
    font-family: var(--headline-font-family);
    font-size: var(--headline-font-size);
    line-height: var(--headline-line-height);
    letter-spacing: var(--headline-letter-spacing);
    color: var(--yellow);
    -webkit-text-stroke: var(--text-stroke) var(--black);
    padding: 0 10%;
}

.popup-text {
    font-family: var(--popup-font-family);
    font-size: var(--popup-font-size);
    line-height: var(--popup-line-height);
}

.subheader-text {
    font-family: var(--subheader-font-family);
    font-size: var(--subheader-font-size);
    line-height: var(--subheader-line-height);
}

.main-body-text {
    font-family: var(--main-body-font-family);
    font-size: var(--main-body-font-size);
    line-height: var(--main-body-line-height);
}

.main-body-text-link {
    font-family: var(--main-body-link-font-family);
    font-size: var(--main-body-font-size);
    line-height: var(--main-body-line-height);
}

.secondary-text {
    font-family: var(--secondary-font-family);
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
}

.secondary-text-link {
    font-family: var(--secondary-link-font-family);
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    text-decoration: none;
    color: var(--black);
}

.article-text p,
.technical-details .secondary-text {
    padding-bottom: 1em;
}

.article-text p:last-child,
.technical-details .secondary-text:last-of-type {
    padding-bottom: 0;
}

/* Navigation */

.navigation-language {
    display: flex;
    gap: 18px;
}

.navigation-language-item {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    font-family: var(--secondary-link-font-family);
}

.navigation-language-current-item {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    font-family: var(--secondary-link-font-family);
    color: var(--yellow);
    -webkit-text-stroke: var(--text-stroke) var(--black);
}

.navigation-category-title {
    text-align: center;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

/* Grid/layout */

body {
    background-color: var(--grey);
    display: flex;
}

header {
    width: 23vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: fixed;
    padding: 20px;
}

main {
    width: calc(7 * (100vw / 9));
    margin-left: calc(2 * (100vw / 9));
}

.flex-container {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    position: fixed;
    pointer-events: none;
    display: none;
}

.grid-overlay {
    display: flex;
    height: 100%;
    width: auto;
    gap: 20px;
}

.grid-column {
    height: 100%;
    background-color: red;
    z-index: 999999;
    flex: 1;
    opacity: 10%;
}

.strip-20px {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: blue;
    opacity: 100%;
    z-index: 9999999;
}

.separator {
    width: 7px;
    height: 100vh;
    flex-shrink: 0;
    background: var(--yellow);
    overflow: none;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    position: fixed;
    float: right;
    top: 0;
}

.separator-1 {
    left: calc(2 * (100vw / 9));
    transform: translateX(-11px);
}

.separator-2 {
    left: calc(4 * (100vw / 9));
    transform: translateX(-15px);
}


/* Article */

.container {
    display: flex;
}

.technical-details {
    width: calc(2 * (100vw / 9));
    padding: 20px 40px 20px 20px;
    height: 100vh;
    display: flex;
    position: fixed;
    flex: 0 0 auto;
    justify-content: end;
    flex-direction: column;
}

.container article {
    width: calc(5 * (100vw / 9));
    margin-left: calc(2 * (100vw / 9));
    padding: 104px 20px 20px 12px;
}

article h2 {
    text-align: center;
    margin-bottom: 30px;
}

article .article-subtitle {
    text-align: center;
    margin-bottom: 50px;
}


/* ID */

#logo {
    width: calc(100vw - 40px);
}

/* Custom button */

.technical-details .secondary-text:last-of-type {
    padding-bottom: 18px;
}

.custom-button {
    background-color: var(--yellow);
    border: .5px solid var(--black);
    padding: 11px 0px 15px;
    border-radius: 10px;
    text-align: center;
}

/* Collaborators */

.container .collaborators-article {
    width: 100%;
    margin-left: 0;
    padding: 104px 20px 20px 12px;
}